<h1>Add a dose to <%= @cocktail.name %></h1>

<%= simple_form_for([@cocktail, @dose]) do |f|%>
  <%= f.input :description %>
  <%= f.association :ingredient %>

  <%= f.button :submit %>
<% end %>


<!-- simple_form_for()
=> a besoin de tous les composants nécessaires à la construction
de l'url d'ACTION du formulaire
 -->
